* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  width: calc(100vw-94px);
  margin: 0 45px;
}

/* shop */
.shop {
  border-radius: 12px;
  background-color: #f4f4f4;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
.shop-content {
  max-width: 1574px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.shop-header {
  width: 450px;
  margin-top: 90px;
  height: 58px;
}
.shop-header h2 {
  font-weight: 700;
  font-size: 3.3rem;
}
.shop-button {
  display: flex;
  gap: 20px;
  width: 437px;
  height: 58px;
}
.button-left {
  display: flex;
  gap: 20px;
  width: 296px;
  height: 58px;
  background-color: rgb(195, 193, 193);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.button-left :nth-child(1) {
  width: 93px;
  height: 40px;
  background-color: #222222;
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-right {
  font-size: 17px;
  margin-top: 20px;
  display: flex;
  width: 150px;
}
.button-right svg {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-left: 3px;
}
/* shop-prodact */
.shop-product {
  gap: 15px;
  width: 83%;
  display: flex;
  margin-bottom: 80px;
}
.hero-product {
  width: 641px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 12px;
  height: 641px;
  padding: 0.71rem;
}
.hero-product:hover {
  border: 1px solid red;
}
.hero-img {
  width: 515px;
  height: 523px;
}
.hero-img img {
  width: 100%;
  height: 100%;
}
.hero-imf {
  width: 583px;
  height: 56px;
  margin: 1rem;
}
.hero-imf :nth-child(1) {
  color: gray;
  font-weight: 600;
  font-size: 17px;
}
.hero-imf :nth-child(2) {
  font-size: 2rem;
}
/* other product */
.other {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.other-products {
  display: flex;
  gap: 15px;
}
.other-product1 {
  width: 312px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 12px;
  height: 312px;
  padding: 0.71rem;
}
.other-product1:hover {
  border: 1px solid red;
}
.other-img {
  width: 217px;
  height: 207px;
  margin-bottom: 40px;
}
.other-img img {
  width: 100%;
  height: 100%;
}
.other-imf {
  width: 282px;
  height: 52px;
  display: flex;
  flex-direction: column;
}
.other-imf :nth-child(1) {
  font-weight: 600;
  color: gray;
}
@media only screen and (max-width: 1490px) {
  .shop-product {
    width: 788px;
    height: 398px;
  }
  .hero-product {
    width: 384px;
    height: 396px;
  }
  .hero-img {
    width: 300px;
    height: 266px;
  }
  .other {
    width: 388px;
    height: 396px;
  }
  .other-img {
    width: 104px;
    height: 104px;
  }
  .other-product1 {
    width: 186px;
    height: 190px;
  }
  .other-imf {
    width: 160px;
    height: 48px;
  }
  .other-imf p {
    font-size: 10px;
  }
  .other-imf h3 {
    font-size: 13px;
  }
  .shop-product1 {
    display: none;
  }
  .shop-product {
    display: none;
  }
  .shop-product1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hero-product {
    width: 40vw;
    height: 70vh;
  }
  .hero-imf {
    width: 100%;
  }

  .hero-img {
    width: 100%;
    height: 80%;
  }
  .other-products {
    width: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 30px;
    height: 204px;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1490px) {
}
