* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.content {
  width: calc(100vw-94px);
  margin: 0 45px;
}
.header {
  width: 100%;
  background-color: rgb(62, 59, 59);
  height: 72px;
  border-radius: 12px;
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* heaeder left */
.headerleft {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 60px;
  margin-left: 20px;
}
.logo {
  width: 70px;
  height: 30px;
}
.logo img {
  width: 100%;
}
.search input {
  padding-left: 60px;
  border: none;
  width: 200px;
  height: 35px;
  border-radius: 12px;
  display: flex;
  background-color: rgb(97, 97, 97);
}
/* header-med */
.header-med {
  display: flex;
  gap: 35px;
  color: white;
  font-weight: 600;
}
/* header right */
.header-right {
  display: flex;
  color: white;
  gap: 20px;
  margin-right: 50px;
}
.header-right i {
  background-color: rgb(97, 97, 97);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
/* container */
.container {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/DJI_20231028181037_0240_D_MAX_Recovered_ezgif_com_jpg_to_webp_converter_d02db53f44.webp);
  width: 100%;
  background-position: center;
  margin-top: 20px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 144px;
}
.container-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container h2 {
  height: 280px;
  display: flex;
  align-items: end;
  color: white;
  font-weight: 700;
  font-size: 3.3rem;
  max-width: 600px;
}
.container-right {
  width: 522px;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}
.service-head {
  color: white;
  font-weight: 600;
  background-color: rgb(97, 97, 97);
  width: 498px;
  height: 46px;
  border-radius: 12px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid rgb(233, 216, 226);
  margin-top: 5px;
}
.container-bot {
  display: flex;
  background-color: rgb(233, 216, 226);
  width: 498px;
  border-radius: 12px;
  justify-content: center;
  height: 430px;
  margin: auto;
  margin-top: 20px;
  gap: 50px;
}
.services,
.services2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.service {
  border-radius: 12px;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 199px;
  height: 110px;
  transition: 0.5s;
}
.service:hover {
  background-color: white;
  .service-name {
    transform: translateX(-10px);
  }
  .names i {
    opacity: 1;
  }
}

.service-svg {
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid rgb(247, 120, 120);
  fill: rgb(247, 120, 120);
  background-color: white;
  border-radius: 50%;
}
.service-svg svg {
  width: 30px;
  height: 30px;
}
.names {
  display: flex;
}
.names i {
  opacity: 0;
  transition: 0.5s;
  margin-top: 2px;
  margin-left: -2px;
}
.service-name {
  font-weight: 600;
  transition: 0.5s;
}
/* sliders */
.sliders {
  margin-top: 30px;
  border-radius: 12px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.6587009803921569) 0%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/specialOfferBG.png);
  width: 100%;
  height: 566px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.slider-name {
  color: white;
  margin: auto;
  font-size: 3.3rem;
  font-weight: 800;
  width: 700px;
  height: 60px;
}
.menus {
  height: 58px;
  display: flex;
  gap: 20px;
  width: 778px;
  height: 58px;
  margin: auto;
  margin-top: 50px;
  flex-wrap: wrap;
}
.detail {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.menus svg {
  width: 15px;
  height: 15px;
  margin-top: 23px;
  margin-left: -20px;
  fill: white;
}
.menu {
  color: rgb(214, 210, 210);
  font-weight: 500;
  font-size: 18px;
  display: flex;
  gap: 35px;
  background-color: gray;
  border: 1px solid rgb(151, 149, 149);
  width: 643px;
  height: 58px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  flex-wrap: wrap;
}

.menu1 {
  background-color: white;
  width: 70px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-wrap: wrap;
}
/* slider */
.slider {
  display: flex;
  gap: 20px;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  flex-wrap: wrap;
}
.slider img {
  width: 100%;
}
.slider5,
.slider1,
.slider2,
.slider3,
.slider4 {
  border-radius: 12px;
  overflow: hidden;
  width: 345px;
  height: 509px;
}
.slider5 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/mobicom_medee_1_1_be49b51926.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/1080_720_904f6b1f30.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/Special_Olympics_medee_721x1081_143e09ad6c.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider3 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/5_G_1_1f3208070f.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider4 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/1080_720_904f6b1f30.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sliders h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.slider1,
.slider2,
.slider3,
.slider4,
.slider5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.slider-top {
  width: 40px;
  height: 40px;
  background-color: rgb(54, 53, 53);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 15px;
}
.slider-bot {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-right: 20px;
}
.slider-top svg {
  fill: yellow;
  width: 20px;
  height: 20px;
}
.sliderline {
  width: 300px;
  height: 2px;
  background-color: gray;
  margin-bottom: 50px;
}
/* shop */
.shop {
  margin-top: 300px;
  border-radius: 12px;
  height: 1003px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 48px -18px black;
}
.shop-header h2 {
  font-weight: 700;
  font-size: 3.3rem;
}
.shop-button {
  display: flex;
  gap: 20px;
  width: 437px;
  height: 58px;
}
.button-left {
  display: flex;
  gap: 20px;
  width: 296px;
  height: 58px;
  background-color: rgb(195, 193, 193);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.button-left :nth-child(1) {
  width: 93px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
