* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.content {
  width: calc(100vw-94px);
  margin: 0 45px;
}
.header {
  width: 100%;
  background-color: #282828;
  height: 72px;
  border-radius: 12px;
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* heaeder left */
.headerleft {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 60px;
  margin-left: 20px;
}
.logo {
  width: 70px;
  height: 30px;
}
.logo img {
  width: 100%;
}
.search input {
  padding-left: 60px;
  border: none;
  width: 200px;
  height: 35px;
  border-radius: 12px;
  display: flex;
  background-color: rgb(97, 97, 97);
}
/* header-med */
.header-med {
  display: flex;
  gap: 35px;
  color: white;
  font-weight: 600;
}
/* header right */
.header-right {
  display: flex;
  color: white;
  gap: 20px;
  margin-right: 50px;
}
.header-right i {
  background-color: rgb(97, 97, 97);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
/* container */
.container {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/DJI_20231028181037_0240_D_MAX_Recovered_ezgif_com_jpg_to_webp_converter_d02db53f44.webp);
  width: 100%;
  background-position: center;
  margin-top: 20px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 144px;
}
.container-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container h2 {
  height: 280px;
  display: flex;
  align-items: end;
  color: white;
  font-weight: 700;
  font-size: 3.3rem;
  max-width: 600px;
}
.container-right {
  width: 522px;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}
.service-head {
  color: white;
  font-weight: 600;
  background-color: #292929;
  width: 498px;
  height: 46px;
  border-radius: 12px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid #ffffffd9;
  margin-top: 5px;
}
.container-bot {
  display: flex;
  background-color: #ffffffd9;
  width: 498px;
  border-radius: 12px;
  justify-content: center;
  height: 430px;
  margin: auto;
  margin-top: 20px;
  gap: 50px;
}
.services,
.services2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.service {
  border-radius: 12px;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 199px;
  height: 110px;
  transition: 0.5s;
}
.service:hover {
  background-color: white;
  .service-name {
    transform: translateX(-10px);
  }
  .names i {
    opacity: 1;
  }
}
.service:hover .service-svg {
  box-shadow: 0px 0px 29px -10px red;
}
.service-svg {
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid rgb(247, 120, 120);
  fill: rgb(247, 120, 120);
  background-color: white;
  border-radius: 50%;
}
.service-svg svg {
  width: 30px;
  height: 30px;
}
.names {
  display: flex;
}
.names i {
  opacity: 0;
  transition: 0.5s;
  margin-top: 2px;
  margin-left: -2px;
}
.service-name {
  font-weight: 600;
  transition: 0.5s;
}
/* sliders */
.sliders {
  margin-top: 30px;
  border-radius: 12px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.6587009803921569) 0%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/specialOfferBG.png);
  width: 100%;
  height: 566px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
}

.slider-name {
  color: white;
  margin: auto;
  font-size: 3.3rem;
  font-weight: 800;
  width: 700px;
  height: 60px;
}
.menus {
  height: 58px;
  display: flex;
  gap: 20px;
  width: 778px;
  height: 58px;
  margin: auto;
  margin-top: 50px;
  flex-wrap: wrap;
}
.detail {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.menus svg {
  width: 15px;
  height: 15px;
  margin-top: 23px;
  margin-left: -20px;
  fill: white;
}
.menu {
  color: rgb(214, 210, 210);
  font-weight: 500;
  font-size: 18px;
  display: flex;
  gap: 35px;
  background-color: #3d3d3d;
  border: 1px solid rgb(151, 149, 149);
  width: 643px;
  height: 58px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  flex-wrap: wrap;
}

.menu1 {
  background-color: white;
  width: 70px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-wrap: wrap;
}
/* slider */

.slider {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow: scroll;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-top: -250px;

  max-height: 640px;
  height: 100%;
  padding: 64px;
}
.slider img {
  width: 100%;
}
.slider5,
.slider1,
.slider2,
.slider3,
.slider4 {
  border-radius: 12px;
  overflow: hidden;
  width: 345px;
  height: 509px;
}
.slider5 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/mobicom_medee_1_1_be49b51926.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/1080_720_904f6b1f30.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/Special_Olympics_medee_721x1081_143e09ad6c.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider3 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/5_G_1_1f3208070f.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider4 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6237088585434174) 0%,
      rgba(0, 0, 0, 0.20073967086834732) 100%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/1080_720_904f6b1f30.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-bot h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.slider1,
.slider2,
.slider3,
.slider4,
.slider5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  transition: 0.5s;
}

.slider1:hover {
  transform: scale(1.08);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7539390756302521) 4%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/1080_720_904f6b1f30.webp);
}
.slider1:hover .slider-inv,
.slider2:hover .slider-inv,
.slider3:hover .slider-inv,
.slider4:hover .slider-inv,
.slider5:hover .slider-inv {
  opacity: 1;
}
.slider2:hover {
  transform: scale(1.08);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7539390756302521) 4%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/Special_Olympics_medee_721x1081_143e09ad6c.webp);
}
.slider3:hover {
  transform: scale(1.08);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7539390756302521) 4%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/5_G_1_1f3208070f.webp);
}
.slider4:hover {
  transform: scale(1.08);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7539390756302521) 4%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/1080_720_904f6b1f30.webp);
}
.slider5:hover {
  transform: scale(1.08);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7539390756302521) 4%
    ),
    url(https://osa.mobicom.mn/content/mcommerce/uploads/mobicom_medee_1_1_be49b51926.webp);
}
.slider-top {
  width: 40px;
  height: 40px;
  background-color: rgb(54, 53, 53);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 15px;
}
.slider-bot {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-right: 20px;
}
.slider-inv {
  opacity: 0;
  color: gray;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.slider-top svg {
  fill: yellow;
  width: 20px;
  height: 20px;
}
.sliderline {
  width: 300px;
  height: 2px;
  background-color: gray;
  margin-bottom: 20px;
}
/* shop */
.shop {
  border-radius: 12px;
  height: 1103px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 48px -18px black;
}
.shop-content {
  max-width: 1574px;
  height: 903px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.shop-header {
  width: 450px;
  margin-top: 90px;
  height: 58px;
}
.shop-header h2 {
  font-weight: 700;
  font-size: 3.3rem;
}
.shop-button {
  display: flex;
  gap: 20px;
  width: 437px;
  height: 58px;
}
.button-left {
  display: flex;
  gap: 20px;
  width: 296px;
  height: 58px;
  background-color: rgb(195, 193, 193);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.button-left :nth-child(1) {
  width: 93px;
  height: 40px;
  background-color: #222222;
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-right {
  font-size: 17px;
  margin-top: 20px;
  display: flex;
  width: 150px;
}
.button-right svg {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-left: 3px;
}
/* shop-prodact */
.shop-product {
  display: flex;
  gap: 15px;
  width: 83%;
}
.hero-product {
  width: 641px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 12px;
  height: 641px;
  padding: 0.71rem;
}
.hero-product:hover {
  border: 1px solid red;
}
.hero-img {
  width: 515px;
  height: 523px;
}
.hero-img img {
  width: 100%;
  height: 100%;
}
.hero-imf {
  width: 583px;
  height: 56px;
  margin: 1rem;
}
.hero-imf :nth-child(1) {
  color: gray;
  font-weight: 600;
  font-size: 17px;
}
.hero-imf :nth-child(2) {
  font-size: 2rem;
}
/* other product */
.other {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.other-products {
  display: flex;
  gap: 15px;
}
.other-product1 {
  width: 312px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 12px;
  height: 312px;
  padding: 0.71rem;
}
.other-product1:hover {
  border: 1px solid red;
}
.other-img {
  width: 217px;
  height: 207px;
  margin-bottom: 40px;
}
.other-img img {
  width: 100%;
  height: 100%;
}
.other-imf {
  width: 282px;
  height: 52px;
  display: flex;
  flex-direction: column;
}
.other-imf :nth-child(1) {
  font-weight: 600;
  color: gray;
}
/* help */
/* help-left */
.help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  margin-top: 150px;
}
.help-left {
  width: 509px;
  height: 222px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.help-ai {
  width: 509px;
  height: 94px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #e4e7eb;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.left-h2 {
  color: #262626;
  font-size: 3.1rem;
}
.help-p {
  width: 491px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  background-color: #ee3f3d;
  border-radius: 12px;
}
.help-ai p {
  color: white;
}
.help-img {
  width: 391px;
  height: 24px;
}
.help-img img {
  width: 100%;
  height: 100%;
}
/* help-right */
.help-right {
  background-image: url(https://www.mobicom.mn/_next/image?url=https%3A%2F%2Fosa.mobicom.mn%2Fcontent%2Fmcommerce%2Fuploads%2FhelpBg.png&w=2048&q=75);
  width: 792px;
  height: 606px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.help-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}
.help-details2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.help-detail {
  width: 384px;
  height: 186px;
  background-color: #fefbfb;
  border: 1px solid #dfe2e6;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.detail-img {
  width: 56px;
  height: 56px;
  border: 1px solid #fdc1c0;
  background-color: #fef1f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.detail-img img {
  width: 30px;
  height: 30px;
}
.detail-h3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  width: 320px;
}
.detail-h3 h3 {
  color: #262626;
}
.detail-h3 p {
  color: #787878;
  font-size: 13px;
}
.detail-h3 div {
  display: flex;
}
.detail-h3 svg {
  margin-top: 5px;

  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 1490px) {
  .help-right1 {
    display: none;
  }
}
@media only screen and (max-width: 1490px) {
  .shop-product {
    width: 788px;
    height: 398px;
  }
  .hero-product {
    width: 384px;
    height: 396px;
  }
  .hero-img {
    width: 300px;
    height: 266px;
  }
  .other {
    width: 388px;
    height: 396px;
  }
  .other-img {
    width: 104px;
    height: 104px;
  }
  .other-product1 {
    width: 186px;
    height: 190px;
  }
  .other-imf {
    width: 160px;
    height: 48px;
  }
  .other-imf p {
    font-size: 10px;
  }
  .other-imf h3 {
    font-size: 13px;
  }
  .help {
    display: block;
  }
  .help-left {
    width: 90vw;
    margin-bottom: 50px;
  }
  .help-ai {
    width: 90vw;
  }
  .left-h2 {
    width: 85vw;
    display: flex;
    justify-content: center;
  }
  .help p {
    width: 85vw;
  }
  .help-right {
    display: none;
  }
  .help-right1 {
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 30px;
    height: 200px;
  }
}
